@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }
  
@keyframes favme-hover {
	from {
		font-size: ms(3);
	}
	80% {
		font-size: ms(2);
	}
}


@keyframes hover {
    from {font-size: ms(1);}
    to {font-size: ms(2);}
    /* from {box-sizing: 3px;}
    to {box-sizing:10px;} */
}

.favButton{
    /* animation: mymove 5s infinite; */
}