.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.icon{
    width: 80px;
    transition: 0.3s;
}

.icon:hover{
    cursor:pointer;
    opacity:0.7;
}

.iconContainer:hover{
    cursor:pointer;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* FAVORITE BUTTONS */
.favButton {
    transition: transform 2s;
    transition: color 0.18s;
}

.favButton:hover{
    transform:scale(110%);
}

.favButton:active{
    transform:scale(120%);
}

.gradientBlock {
    background-color: red;
}

.gradientParent:hover {
    cursor:pointer;
}

.gradientParent:hover .gradientBlock {
    opacity: 0.8;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.4s;
    animation-name: fade;
    animation-duration: 0.4s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

/* Resource */
.resource {
    transition: 0.3s;
}

.resource:hover {
    background-color: #cad6e6;
    cursor:"pointer";
}